<h1>Taxi Express</h1>

<h3>Vamos juntos hacia un mismo destino. Nunca fue tan RAPIDO y SEGURO</h3>
</br>
</br>
<h4>FACILIDAD</h4>
<p>Tu conductor a la puerta de tu casa. La aplicación te notificará cuando el conductor esté en el punto. 
Todo lo que tienes que hacer luego es disfrutar del viaje y calificar tu experiencia. Es increíblemente fácil</p>
</br>
<h4>CALIDAD</h4>
<p>Los mejores conductores de la ciudad. Cada vez que uses el servicio verás un puntaje de calificación de hasta 5 estrellas. 
Este puntaje se ha basado en previas calificaciones. Premia a los mejores y ayuda a nuestra comunidad a tener el mejor servicio posible.</p>
</br>
<h4>CONFIANZA</h4>
<p>Conoce los detalles de tu conductor antes de abordar. Los objetos olvidados dejarán de ser un problema. 
Si te das cuenta que olvidaste algo en el taxi, revisa tu historial de carreras y llama directamente al conductor. 
Es mucho más directo y eficiente.</p>
</br>
<h4>R&AacutePIDO</h4>
<p>¿Sabías que el tiempo promedio de llegada en Lima es de 4 minutos? Todo al alcance de un solo clic. Nuestros carros estan en todos sitios 
no te preocupes al esperar, ellos estaran por llegar.</p>
</br>
</br>
