<h1>Sign Up</h1>
</br>
<h4>Elige tu Perfil</h4>
</br>
<p>
<a class="btn btn-primary" href=<%= new_admin_registration_path %>>Administrator</a>
</p>
</br>
<p>
<a class="btn btn-primary" href=<%= new_user_registration_path %>>Customer</a>
</p>
</br>
</br>